/
  Bootstrap Core Javascript
  =========================
%script{ :src => "#{app_root}/js/jquery.min.js" }
%script{ :src => "#{app_root}/js/bootstrap.min.js" }
%script{ :src => "#{app_root}/js/pj/pj.js" }
- if @additional_js
  - @additional_js.each do |js|
    %script{ :src => js }
