<%
  @page_title = 'Diff Analysis Result'
  @page_description = 'Job status and downloads for a submitted diff analysis.'
  @active_menu = 'diff_analysis'
%>
<div class="row mb-3">
  <div class="col-md-10 offset-md-1">
    <h1>ChIP-Atlas: Diff Analysis Result</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div id="job-tracker"></div>
    <div id="error-state" class="alert alert-danger" hidden></div>
  </div>
</div>
