%footer.footer
  .container
    %row
      .col-md-12
        %span.org-logo
          %a{ href: "https://ewww.kumamoto-u.ac.jp/en/", target: "_blank" }
            %img{ src: "/images/logo/kumamoto_uni_logo.jpg", width: 100 }

        %span.org-logo
          %a{ href: "https://www.ddbj.nig.ac.jp/index-e.html", target: "_blank" }
            %img{ src: "/images/logo/ddbj_logo.png", width: 100 }

        %span.org-logo
          %a{ href: "https://biosciencedbc.jp/en/", target: "_blank" }
            %img{ src: "/images/logo/nbdc_logo.png", width: 100 }

        %span.org-logo
          %a{ href: "https://www.jst.go.jp/EN/", target: "_blank" }
            %img{ src: "/images/logo/jst_logo.png", width: 150 }

        %span.org-logo
          %a{ href: "https://dbcls.rois.ac.jp", target: "_blank" }
            %img{ src: "/images/logo/dbcls_logo.png", width: 100 }

        %span.org-logo
          %a{ href: "https://www.m.chiba-u.ac.jp/dept/chiba_ai/", target: "_blank" }
            %img{ src: "/images/logo/chiba_uni_logo.png", width: 150 }

    %row
      .col-md-12
        %p.acknowledgement
          This work is supported by
          %a{ href: "https://sc.ddbj.nig.ac.jp/" }
            NIG Supercomputer system
          and
          %a{ href: "https://biosciencedbc.jp" }
            JST NBDC JPMJND2202.
        %p
          All data and analysis tools provided by ChIP-Atlas are licensed under
          %a{ href: "https://creativecommons.org/licenses/by/4.0/" }
            CC-BY 4.0
          \. Attribution should be made to our
          %a{ href: "https://chip-atlas.org/publications" }
            publication
          when using these resources.
        %p
          Need help? Create an issue on
          %a{ href: "https://github.com/inutano/chip-atlas/issues" }
            github
          or
          %a{ href: "mailto:oki.shinya.3w@kyoto-u.ac.jp" }
            contact us
