- @page_title = "ChIP-Atlas: 404"
- @page_description = "We provide cute pics instead."
- @active_menu = nil

.row
  .col-md-10
    .header
      %h1
        %i.fas.fa-mountain
        ChIP-Atlas: 404
  .col-md-10
    %p
      Sorry, could not find the requested resource. Try with different data or contact us.
    %p.gif

:javascript
  $('button.go-experiment').on('click', function(event){
    event.preventDefault();
    var expid = $('input#jumpToExperiment').val();
    window.open('/view?id='+expid);
  });

  $(function(){
    $.ajax({
      type: 'GET',
      //url: 'http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=channing%20tatum',
      url: 'http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=cute%20cat%20dog',
      dataType: 'json',
      success: function(json){
        console.log(JSON.stringify(json['data']['image_original_url']));
        $('<img>')
          .attr("src", json['data']["image_original_url"])
          .attr("width","70%")
          .appendTo($('p.gif'));
      }
    });
  })
