<%
  @page_title = '404'
  @page_description = 'Page not found.'
%>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>ChIP-Atlas: 404</h1>
    <p>Sorry, could not find the requested resource. Try with different data or contact us.</p>
    <p>
      <a href="/" class="btn btn-primary me-2">Back to Home</a>
      <a href="https://github.com/inutano/chip-atlas/issues" class="btn btn-outline-secondary" target="_blank" rel="noopener noreferrer">Report Issue</a>
    </p>
  </div>
</div>
