- @page_title = "ChIP-Atlas: Publication"
- @page_description = "The list of publications that used ChIP-Atlas database."
- @active_menu = 'publications'

.row
  .col-md-8.col-md-offset-2.publication_list
    != markdown(:publications, layout: false, fenced_code_blocks: true, autolink: true)
