// general
.container-fluid
  padding: .25em 5em

h1, h2
  letter:
    spacing: -1px

hr
  margin:
    top: 0
    bottom: 1.0em

body
  padding-top: 70px
  // margin:
  //   top: 70px

section
  margin:
    top: 2.0em

p.ptimes
  margin:
    left: 3.0em

.navbar.navbar-inverse
  a
    color: white
  li
    a
      color: white

input#jumpToExperiment
  width: 8em

// top
.align-height
  display: flex
  flex-direction: row

.align-height
  .jumbotron
    display: flex
    flex-direction: column
    justify-content: space-between
    padding:
      top: 45px
      bottom: 30px
      right: 30px
      left: 60px
    text-align: center

.jumbotron-link
  color: #333 !important
  text-decoration: none !important

.col-icon
  padding-right: 5px

.col-labels
  padding-left: 5px
  text-align: left

.icon
  font-size: 70px

.labels
  span
    display: inline-block
    text-align: center
    margin-left: 3px
    padding: .4em


// index
ul.nav-tabs
  margin:
    top: .5em
    bottom: .5em

.button-submit
  button
    text-align: center

.button-submit.down3
  margin:
    top: 3.0em

.button-submit.down
  margin:
    top: 5.0em

.button-submit.down button
  margin:
    top: 2.0em

.dropdown-help
  margin:
    top: 2.0em

.dropdown-link
  margin:
    top: 1.0em

.dropdown-menu
  min-width: 250px

.help-block#exp-help
  margin:
    top: 1em
    left: .5em

p.main-desc
  line-height: 150%

span.italic
  font-style: italic

.desc-exp
  margin-top: .5em

@media (min-width: 768px)
  .dl-horizontal dt
    text-align: left

// colo
.row.colo-download
  margin:
    top: 2.0em

// experiments
.mdata
  margin: .5em 1em

// enrichment analysis
.panel-input
  margin:
    bottom: 1.0em

.panel-input.bed.permutation
  margin:
    left: 1.0em

.panel-input.default-hide
  display: none

.estimated-run-time
  margin:
    top: 1.0em

.job-info
  margin:
    top: 3.0em

.linkExample
  margin:
    top: 1.5em

// search
table.dataTable
  margin: 10px auto

#dataTable_wrapper
  margin:
    top: 3.0em

#dataTable_wrapper label
  font-weight: normal !important

.dt-buttons
  margin:
    left: 10px

// footer
p.acknowledgement
  margin:
    top: 2em

span.collaboration
  margin:
    right: .5em
    left: .5em
  vertical-align: bottom

footer
  margin:
    top: 10.0em
    bottom: 5.0em
  text:
    align: center
    transform: uppercase
  font:
    style: italic
    size: 66%

// publication
.publication_list
  margin:
    top: .5em
  line-height: 1.5
