openapi: 3.1.0

info:
  title: ChIP-Atlas API
  version: "2.0.2"
  description: >-
    REST API for ChIP-Atlas, a comprehensive database of public ChIP-seq,
    ATAC-seq, DNase-seq, and Bisulfite-seq experiments.
    Provides programmatic access to experiment metadata, peak-call data,
    colocalization analysis, target gene predictions, enrichment analysis,
    and differential analysis across seven genome assemblies.

    All endpoints are under the /api/ prefix, return JSON, and use
    snake_case field names.
  contact:
    name: ChIP-Atlas
    url: https://chip-atlas.org
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/

externalDocs:
  description: Agent integration guide
  url: https://chip-atlas.org/agents

servers:
  - url: https://chip-atlas.org
    description: Production

tags:
  - name: Classification
    description: Browse the genome / track class / cell type hierarchy with experiment counts
  - name: Data
    description: Search and retrieve experiment metadata, indices, and statistics
  - name: URL Generation
    description: Generate download, IGV, colocalization, and target gene result URLs
  - name: Analysis
    description: Colocalization and target gene analysis indices
  - name: Jobs
    description: Submit and monitor enrichment/differential analysis jobs
  - name: Internal
    description: >-
      Endpoints the web UI uses internally. Not designed for external
      agents, but real and reachable, so documented rather than omitted.

components:
  parameters:
    Genome:
      name: genome
      in: query
      required: true
      description: Genome assembly identifier
      schema:
        $ref: "#/components/schemas/GenomeAssembly"
    TrackClass:
      name: track_class
      in: query
      required: true
      description: >-
        Experiment / track class. Use /api/track_classes to discover valid values.
      schema:
        type: string
        enum:
          - Histone
          - TFs and others
          - RNA polymerase
          - Input control
          - ATAC-Seq
          - DNase-seq
          - Bisulfite-Seq
          - Annotation tracks
      example: Histone
    CellTypeClass:
      name: cell_type_class
      in: query
      required: false
      description: >-
        Cell type class (e.g. "Blood", "Brain"). Use /api/cell_type_classes
        to discover valid values.
      schema:
        type: string
      example: Blood
    TrackSubclass:
      name: track_subclass
      in: query
      required: false
      description: >-
        Specific target / antigen (e.g. "H3K4me3", "CTCF"). Use
        /api/track_subclasses to discover valid values.
      schema:
        type: string
      example: H3K4me3
    CellTypeSubclass:
      name: cell_type_subclass
      in: query
      required: false
      description: >-
        Specific cell type or cell line (e.g. "K-562", "HeLa"). Use "-"
        for unspecified. Use /api/cell_type_subclasses to discover valid values.
      schema:
        type: string
      example: K-562
    Qval:
      name: qval
      in: query
      required: false
      description: >-
        Q-value significance threshold. Use /api/qval_range to get valid values.
      schema:
        type: string
        enum:
          - "05"
          - "10"
          - "20"
          - "50"
      example: "05"

  schemas:
    GenomeAssembly:
      type: string
      description: UCSC-style genome assembly identifier
      enum:
        - hg38
        - mm10
        - rn6
        - dm6
        - ce11
        - sacCer3
        - TAIR12
      example: hg38

    ClassificationItem:
      type: object
      properties:
        id:
          type: string
          description: Machine-readable identifier
        label:
          type: string
          description: Human-readable label
        count:
          type:
            - integer
            - "null"
          description: Number of experiments (null when not applicable)
      required:
        - id
        - label

    ExperimentMetadata:
      type: object
      properties:
        experiment_id:
          type: string
          description: Experiment accession (SRX, ERX, or DRX)
          example: SRX018625
        genome:
          type: string
          description: Genome assembly this record refers to
        track_class:
          type: string
          description: Experiment / track class
        track_subclass:
          type: string
          description: Specific target (e.g. H3K4me3)
        cell_type_class:
          type: string
          description: Cell type class
        cell_type_subclass:
          type: string
          description: Cell type subclass
        cell_type_subclass_info:
          type: string
          description: Additional cell type metadata
        read_info:
          type: string
          description: Read count and mapping stats (comma-separated)
        title:
          type: string
          description: Experiment title
        attributes:
          type: string
          description: Additional sample attributes

    SearchResult:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching experiments
        returned:
          type: integer
          description: Number of experiments in this response page
        experiments:
          type: array
          items:
            $ref: "#/components/schemas/ExperimentMetadata"

    ServiceStatus:
      type: object
      properties:
        services:
          type: object
          description: >-
            Reachability of each backing service. wes is only probed on
            demand (when wabi is down), so it reads "not_checked" the
            rest of the time.
          properties:
            data_server:
              type: string
              enum: [ok, down]
            wabi:
              type: string
              enum: [ok, down]
            wes:
              type: string
              enum: [ok, down, not_checked]
        features:
          type: object
          description: >-
            Per-feature availability derived from services above.
            enrichment_analysis can also read "ok (backup)" when wabi is
            down but the wes fallback is reachable; search is always
            "ok" (it runs against the local database, not an external
            service).
          properties:
            peak_browser:
              type: string
              enum: [ok, unavailable]
            colo:
              type: string
              enum: [ok, unavailable]
            target_genes:
              type: string
              enum: [ok, unavailable]
            search:
              type: string
              enum: [ok]
            enrichment_analysis:
              type: string
              enum: [ok, "ok (backup)", unavailable]
            diff_analysis:
              type: string
              enum: [ok, unavailable]

    JobSubmission:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: Analysis type
          enum:
            - enrichment_analysis
            - diff_analysis
        params:
          description: >-
            Analysis-specific parameters. Unlike the rest of this API,
            these are WABI's own field names (camelCase, e.g. antigenClass
            rather than track_class) passed through to the compute backend
            with no translation layer - see EnrichmentAnalysisParams /
            DiffAnalysisParams.
          oneOf:
            - $ref: "#/components/schemas/EnrichmentAnalysisParams"
            - $ref: "#/components/schemas/DiffAnalysisParams"

    EnrichmentAnalysisParams:
      type: object
      description: params for type=enrichment_analysis.
      properties:
        genome:
          $ref: "#/components/schemas/GenomeAssembly"
        antigenClass:
          type: string
          description: Experiment / track class (WABI's name for track_class)
          example: Histone
        cellClass:
          type: string
          description: Cell type class (WABI's name for cell_type_class)
          example: Blood
        threshold:
          type: string
          description: >-
            Significance threshold, as WABI's -10*Log10[Q-value] label: 50,
            100, 200, or 500 (larger = q < 1E-50 = stricter = fewer peaks).
            This is NOT the 05/10/20/50 file-suffix code /api/qval_range
            returns (those name allPeaks_light.<genome>.{05,10,20,50}.bed.gz,
            where the code IS the exponent: "05" = q < 1E-05 = loosest,
            "50" = q < 1E-50 = strictest) - the two encodings share digits
            but mean opposite ends of the range under the literal token "50"
            (threshold=50 is the LOOSEST WABI setting; file code "50" names
            the STRICTEST file). The frontend converts qval-range codes to
            this label before submitting.
          enum: ["50", "100", "200", "500"]
          example: "50"
        typeA:
          type: string
          description: Dataset A's input kind
          enum: [bed, gene, count]
        bedAFile:
          type: string
          description: >-
            Dataset A content: BED text (typeA=bed), a newline-separated
            gene list (typeA=gene), or a gene count table (typeA=count).
        typeB:
          type: string
          description: Dataset B's comparison kind
          enum: [rnd, bed, refseq, userlist]
        bedBFile:
          type: string
          description: >-
            Dataset B content, present when typeB is bed or userlist.
        permTime:
          type: string
          description: Permutation multiplier, present when typeB is rnd.
          enum: ["1", "10", "100"]
        title:
          type: string
          description: Analysis title
        descriptionA:
          type: string
          description: Dataset A title (WABI's name for dataA_title)
        descriptionB:
          type: string
          description: Dataset B title (WABI's name for dataB_title)
        distanceUp:
          type: string
          description: >-
            Upstream distance from the TSS, in bp. Shown (editable, default
            5000) only in gene-list / gene-count-table modes, but sent on
            every submission.
          example: "5000"
        distanceDown:
          type: string
          description: >-
            Downstream distance from the TSS, in bp. Shown (editable,
            default 5000) only in gene-list / gene-count-table modes, but
            sent on every submission.
          example: "5000"
      required:
        - genome
        - antigenClass
        - cellClass
        - threshold
        - typeA
        - bedAFile
        - typeB
        - title
        - descriptionA
        - descriptionB
        - distanceUp
        - distanceDown

    DiffAnalysisParams:
      type: object
      description: >-
        params for type=diff_analysis. Diff Analysis's WABI mapping differs
        from Enrichment Analysis's: antigenClass here is the diffbind/dmr
        experiment-type radio, not an antigen, and bedAFile/bedBFile are
        newline-joined experiment ID strings, not arrays. typeA, typeB,
        cellClass, permTime and threshold are constants/operational values
        with no UI control on either site (e.g. threshold is 50 for
        diffbind or 999 for dmr, keyed on antigenClass, and is unrelated to
        Enrichment Analysis's user-facing threshold) - they are not sent by
        the frontend and are not documented here; a later task has
        WabiService merge them in alongside address/format/result/
        sbatchOptions.
      properties:
        genome:
          $ref: "#/components/schemas/GenomeAssembly"
        antigenClass:
          type: string
          description: >-
            The experiment-type radio (dmr or diffbind) - WABI's name for
            this field is shared with Enrichment Analysis's track_class,
            but the value it carries here is unrelated.
          enum: [dmr, diffbind]
        bedAFile:
          type: string
          description: >-
            Dataset A experiment IDs (SRX/GSM), newline-joined into a
            single string - not a JSON array.
          example: "SRX4099758\nSRX3481056\nSRX3481057"
        bedBFile:
          type: string
          description: >-
            Dataset B experiment IDs (SRX/GSM), newline-joined into a
            single string - not a JSON array.
          example: "SRX3481056\nSRX3481057"
        title:
          type: string
          description: Analysis title
        descriptionA:
          type: string
          description: Dataset A title (WABI's name for dataA_title)
        descriptionB:
          type: string
          description: Dataset B title (WABI's name for dataB_title)
      required:
        - genome
        - antigenClass
        - bedAFile
        - bedBFile
        - title
        - descriptionA
        - descriptionB

    JobStatus:
      type: object
      properties:
        backend:
          type: string
          description: Compute backend handling the job
        job_id:
          type: string
          description: Job identifier
        status:
          type: string
          description: >-
            The backend's own status word (e.g. "finished", "running" -
            WABI's vocabulary, not a fixed enum this API controls), or
            "unknown" if the backend doesn't recognise the job id. A 503
            response (backend unavailable) uses "backend_unavailable"
            here instead.
          example: finished
        retry:
          type: boolean
          description: >-
            Whether the caller should poll again. False only when the
            backend itself is unavailable (503 responses); true
            otherwise, including for an unrecognised job id.

paths:
  # ── Classification ──────────────────────────────────────────────────

  /api/genomes:
    get:
      operationId: listGenomes
      tags: [Classification]
      summary: List available genome assemblies
      description: >-
        Returns all genome assemblies available in ChIP-Atlas, as an
        object mapping each assembly id to a human-readable label (not
        an array).
      responses:
        "200":
          description: Object mapping genome assembly id to human-readable label
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
              example:
                hg38: "H. sapiens (hg38)"
                mm10: "M. musculus (mm10)"
                rn6: "R. norvegicus (rn6)"
                dm6: "D. melanogaster (dm6)"
                ce11: "C. elegans (ce11)"
                sacCer3: "S. cerevisiae (sacCer3)"
                TAIR12: "A. thaliana (TAIR12)"

  /api/track_classes:
    get:
      operationId: listTrackClasses
      tags: [Classification]
      summary: List track (experiment) type categories
      description: >-
        Without parameters, returns the static list of track type categories.
        With genome and cell_type_class parameters, returns categories with
        experiment counts.
      parameters:
        - name: genome
          in: query
          required: false
          description: Genome assembly identifier (required for counts)
          schema:
            $ref: "#/components/schemas/GenomeAssembly"
        - name: cell_type_class
          in: query
          required: false
          description: Cell type class filter (e.g. "Blood")
          schema:
            type: string
          example: Blood
      responses:
        "200":
          description: Array of track type objects, optionally with counts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClassificationItem"
              example:
                - id: Histone
                  label: "ChIP: Histone"
                  count: 9246
                - id: TFs and others
                  label: "ChIP: TFs and others"
                  count: 7515
                - id: ATAC-Seq
                  label: ATAC-Seq
                  count: 21577
                - id: Annotation tracks
                  label: Annotation tracks
                  count: null

  /api/cell_type_classes:
    get:
      operationId: listCellTypeClasses
      tags: [Classification]
      summary: List cell type classes with counts
      description: >-
        Returns cell type classes and their experiment counts for a given
        genome and track class.
      parameters:
        - $ref: "#/components/parameters/Genome"
        - $ref: "#/components/parameters/TrackClass"
      responses:
        "200":
          description: Array of cell type classes with counts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClassificationItem"
              example:
                - id: Blood
                  label: Blood
                  count: 9246
                - id: Brain
                  label: Brain
                  count: 3421

  /api/track_subclasses:
    get:
      operationId: listTrackSubclasses
      tags: [Classification]
      summary: List specific tracks (antigens/targets) with counts
      description: >-
        Returns specific track targets (e.g. H3K4me3, CTCF) with experiment
        counts for a given genome, track class, and cell type class.
      parameters:
        - $ref: "#/components/parameters/Genome"
        - $ref: "#/components/parameters/TrackClass"
        - $ref: "#/components/parameters/CellTypeClass"
      responses:
        "200":
          description: Array of track subclasses with counts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClassificationItem"
              example:
                - id: H3K4me3
                  label: H3K4me3
                  count: 450
                - id: H3K27ac
                  label: H3K27ac
                  count: 380

  /api/cell_type_subclasses:
    get:
      operationId: listCellTypeSubclasses
      tags: [Classification]
      summary: List specific cell types/lines with counts
      description: >-
        Returns specific cell types or cell lines (e.g. K-562, HeLa) with
        experiment counts for a given genome, track class, and cell type class.
      parameters:
        - $ref: "#/components/parameters/Genome"
        - $ref: "#/components/parameters/TrackClass"
        - $ref: "#/components/parameters/CellTypeClass"
      responses:
        "200":
          description: Array of cell type subclasses with counts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClassificationItem"
              example:
                - id: K-562
                  label: K-562
                  count: 245
                - id: HeLa
                  label: HeLa
                  count: 189

  # ── Data ────────────────────────────────────────────────────────────

  /api/experiment:
    get:
      operationId: getExperiment
      tags: [Data]
      summary: Get metadata for a single experiment
      description: >-
        Returns full metadata for an experiment by its SRX, ERX, or DRX
        accession ID, as an array (one record per genome assembly the
        accession maps to - typically a single record). An unrecognised
        accession (including a GEO GSM id, which this endpoint does not
        resolve) returns 200 with an empty array, not 404.
      parameters:
        - name: experiment_id
          in: query
          required: true
          description: Experiment accession ID (SRX, ERX, or DRX)
          schema:
            type: string
          example: SRX018625
      responses:
        "200":
          description: Array of experiment metadata records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExperimentMetadata"
              example:
                - experiment_id: SRX018625
                  genome: hg38
                  track_class: TFs and others
                  track_subclass: HNF4A
                  cell_type_class: Liver
                  cell_type_subclass: Hep G2
                  title: "GSM469863: HNF4a Fdomain ChIPSeq"
                  attributes: "source_name=HNF4a_Fdomain_ChIPSeq\tcell line=HepG2\tcell type=hepatocellular carcinoma\tchip antibody=HNF4a F domain"
                  read_info: "9231367,94.3,3.1,6122"
                  cell_type_subclass_info: "Primary Tissue=Liver|Tissue Diagnosis=Carcinoma Hepatocellular"
        "400":
          description: Missing experiment_id parameter

  /api/search:
    get:
      operationId: searchExperiments
      tags: [Data]
      summary: Full-text search across experiments
      description: >-
        Searches the experiment database by keyword, accession ID, or
        classification terms. Supports pagination via limit and offset.
        Replaces the bulk JSON experiment list endpoint. q is optional -
        an omitted, empty, or whitespace-only q returns the full,
        unfiltered experiment list (still paginated by limit/offset).
      parameters:
        - name: q
          in: query
          required: false
          description: >-
            Search query string. Omit for the full experiment list.
          schema:
            type: string
          example: H3K4me3
        - name: genome
          in: query
          required: false
          description: Filter results to a specific genome assembly
          schema:
            $ref: "#/components/schemas/GenomeAssembly"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (default 20)
          schema:
            type: integer
            default: 20
          example: 20
        - name: offset
          in: query
          required: false
          description: Number of results to skip (default 0)
          schema:
            type: integer
            default: 0
          example: 0
      responses:
        "200":
          description: Paginated search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResult"
              example:
                total: 18546
                returned: 20
                experiments:
                  - experiment_id: SRX018625
                    sra_id: SRA012331
                    geo_id: GSM469863
                    genome: hg38
                    track_class: TFs and others
                    track_subclass: HNF4A
                    cell_type_class: Liver
                    cell_type_subclass: Hep G2
                    title: "HNF4a Fdomain ChIPSeq"
                    attributes: "source_name=HNF4a_Fdomain_ChIPSeq__TAB__cell line=HepG2"

  /api/genome_index:
    get:
      operationId: getGenomeIndex
      tags: [Data]
      summary: Full facet index for all genomes
      description: >-
        Returns the complete classification facet index for all genomes.
        This is a large response cached for 1 hour. Useful for building
        local facet navigation without multiple round-trips.
      responses:
        "200":
          description: Full facet index object
          content:
            application/json:
              schema:
                type: object
                description: Nested object keyed by genome, track class, cell type class, etc.

  /api/qval_range:
    get:
      operationId: getQvalRange
      tags: [Data]
      summary: Get available q-value thresholds
      description: >-
        Returns the list of valid q-value threshold strings that can be
        used in download and analysis requests.
      responses:
        "200":
          description: Array of q-value threshold strings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - "05"
                - "10"
                - "20"
                - "50"

  /api/bed_sizes:
    get:
      operationId: getBedSizes
      tags: [Data]
      summary: Get peak count statistics
      description: Returns peak count statistics for available BED files.
      responses:
        "200":
          description: Peak count statistics
          content:
            application/json:
              schema:
                type: object

  /api/stats:
    get:
      operationId: getStats
      tags: [Data]
      summary: Get database statistics
      description: >-
        Returns total experiment counts and breakdowns by genome and track class.
      responses:
        "200":
          description: Database statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_experiments:
                    type: integer
                  total_experiments_formatted:
                    type: string
                  by_genome:
                    type: object
                    additionalProperties:
                      type: integer
                  by_track_class:
                    type: object
                    additionalProperties:
                      type: integer
              example:
                total_experiments: 454476
                total_experiments_formatted: "454,000"
                by_genome:
                  hg38: 197044
                  mm10: 194162
                by_track_class:
                  Histone: 91822
                  TFs and others: 68849

  /api/colo_index:
    get:
      operationId: getColoIndex
      tags: [Analysis]
      summary: Get colocalization analysis index for a genome
      description: >-
        Returns the index of available colocalization analyses for a genome.
        Maps antigens to their available cell types and vice versa. Check
        this before requesting colocalization URLs.
      parameters:
        - $ref: "#/components/parameters/Genome"
      responses:
        "200":
          description: >-
            Object with antigen and cell type mapping showing available
            colocalization combinations.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object

  /api/target_genes_index:
    get:
      operationId: getTargetGenesIndex
      tags: [Analysis]
      summary: Get target genes analysis index
      description: >-
        Returns a mapping of genome assemblies to lists of tracks that
        have precomputed target gene analysis data.
      responses:
        "200":
          description: Object mapping genome assemblies to track arrays
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
              example:
                hg38:
                  - H3K4me3
                  - H3K27ac
                  - CTCF
                mm10:
                  - H3K4me3
                  - H3K27ac

  /api/target_genes_distances:
    get:
      operationId: getTargetGenesDistances
      tags: [Analysis]
      summary: Get valid target gene distance options
      description: Returns the valid distance options for target gene analysis.
      responses:
        "200":
          description: Array of distance options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClassificationItem"
              example:
                - id: "1"
                  label: 1 kb
                - id: "5"
                  label: 5 kb
                - id: "10"
                  label: 10 kb

  # ── URL Generation ─────────────────────────────────────────────────

  /api/download_url:
    get:
      operationId: getDownloadUrl
      tags: [URL Generation]
      summary: Get download URL for peak-call BED data
      description: >-
        Generates a download URL for assembled peak-call BED files matching
        the given filtering conditions. The URL points to a pre-computed
        file on the data backend (chip-atlas.dbcls.jp).
      parameters:
        - $ref: "#/components/parameters/Genome"
        - $ref: "#/components/parameters/TrackClass"
        - $ref: "#/components/parameters/TrackSubclass"
        - $ref: "#/components/parameters/CellTypeClass"
        - $ref: "#/components/parameters/CellTypeSubclass"
        - $ref: "#/components/parameters/Qval"
      responses:
        "200":
          description: Object containing the download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type:
                      - string
                      - "null"
                    format: uri
                    description: >-
                      Direct download URL for the BED file, or null if no
                      matching file exists.
              example:
                url: "https://chip-atlas.dbcls.jp/data/hg38/assembled/His.Bld.05.H3K4me3.AllCell.bed"
        "400":
          description: >-
            Missing genome/track_class, or genome is not a recognised
            assembly. Body is `{"error": "..."}`.
    post:
      operationId: postDownloadUrl
      tags: [URL Generation]
      summary: Get download URL for peak-call BED data (POST form)
      description: >-
        Same as the GET form, with the condition in a JSON body instead of
        query parameters - this is what the web UI itself submits. Only
        condition.genome is validated here: an omitted track_class (or
        other field) is not rejected with 400 the way the GET form
        requires it - it simply resolves to url: null, same as any other
        non-matching condition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [condition]
              properties:
                condition:
                  type: object
                  required: [genome]
                  properties:
                    genome:
                      $ref: "#/components/schemas/GenomeAssembly"
                    track_class:
                      type: string
                    track_subclass:
                      type: string
                    cell_type_class:
                      type: string
                    cell_type_subclass:
                      type: string
                    qval:
                      type: string
            example:
              condition:
                genome: hg38
                track_class: Histone
                track_subclass: H3K4me3
                cell_type_class: Blood
                cell_type_subclass: "-"
                qval: "05"
      responses:
        "200":
          description: Object containing the download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type:
                      - string
                      - "null"
                    format: uri
              example:
                url: "https://chip-atlas.dbcls.jp/data/hg38/assembled/His.Bld.05.H3K4me3.AllCell.bed"
        "400":
          description: >-
            condition is missing or not an object, condition.genome is
            missing or not a recognised assembly, or the JSON body itself
            is malformed/non-object/absent. Body is `{"error": "..."}`.

  /api/igv_url:
    get:
      operationId: getIgvUrl
      tags: [URL Generation]
      summary: Get IGV browser URL
      description: >-
        Generates a URL to open the matching peak-call data in the IGV
        genome browser.
      parameters:
        - $ref: "#/components/parameters/Genome"
        - $ref: "#/components/parameters/TrackClass"
        - $ref: "#/components/parameters/TrackSubclass"
        - $ref: "#/components/parameters/CellTypeClass"
        - $ref: "#/components/parameters/CellTypeSubclass"
        - $ref: "#/components/parameters/Qval"
      responses:
        "200":
          description: Object containing the IGV browser URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type:
                      - string
                      - "null"
                    format: uri
                    description: IGV browser URL, or null if no matching data exists.
              example:
                url: "http://localhost:60151/load?genome=https://chip-atlas.dbcls.jp/data/genome/hg38/hg38.json&file=https://chip-atlas.dbcls.jp/data/hg38/assembled/His.Bld.05.H3K4me3.AllCell.bed"
        "400":
          description: >-
            Missing genome/track_class, or genome is not a recognised
            assembly. Body is `{"error": "..."}`.
    post:
      operationId: postIgvUrl
      tags: [URL Generation]
      summary: Get IGV browser URL (POST form)
      description: >-
        Same as the GET form, with the condition in a JSON body instead of
        query parameters - this is what the web UI itself submits. An
        optional top-level igv field overrides the base URL the returned
        link is built against (the local IGV desktop app's listener,
        default http://localhost:60151). Like POST /api/download_url,
        only condition.genome is validated - an omitted track_class is
        not rejected with 400.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [condition]
              properties:
                igv:
                  type: string
                  description: >-
                    Base URL for the local IGV desktop app's HTTP
                    listener. Defaults to http://localhost:60151.
                  example: http://localhost:60151
                condition:
                  type: object
                  required: [genome]
                  properties:
                    genome:
                      $ref: "#/components/schemas/GenomeAssembly"
                    track_class:
                      type: string
                    track_subclass:
                      type: string
                    cell_type_class:
                      type: string
                    cell_type_subclass:
                      type: string
                    qval:
                      type: string
            example:
              condition:
                genome: hg38
                track_class: Histone
                track_subclass: H3K4me3
                cell_type_class: Blood
                cell_type_subclass: "-"
                qval: "05"
      responses:
        "200":
          description: Object containing the IGV browser URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type:
                      - string
                      - "null"
                    format: uri
              example:
                url: "http://localhost:60151/load?genome=https://chip-atlas.dbcls.jp/data/genome/hg38/hg38.json&file=https://chip-atlas.dbcls.jp/data/hg38/assembled/His.Bld.05.H3K4me3.AllCell.bed"
        "400":
          description: >-
            condition is missing or not an object, condition.genome is
            missing or not a recognised assembly, or the JSON body itself
            is malformed/non-object/absent. Body is `{"error": "..."}`.

  /api/colo:
    get:
      operationId: getColocalizationData
      tags: [Analysis]
      summary: Get colocalization result data
      description: >-
        Parses the pre-computed colocalization result TSV (there is no JSON
        file on the data backend for this analysis) for a given genome,
        track, and cell type, and returns the full parsed matrix sorted
        descending by the "<track>|Average" column. Unlike Target Genes
        there is no pagination or server-side cache here - the source file
        is small enough (tens to a few hundred KB) to parse and send whole
        on every request. Check /api/colo_index first to verify the
        combination has data.
      parameters:
        - $ref: "#/components/parameters/Genome"
        - name: track
          in: query
          required: true
          description: Track / antigen name (e.g. "CTCF")
          schema:
            type: string
          example: CTCF
        - name: cell_type
          in: query
          required: true
          description: >-
            Cell type **class** (e.g. "Blood", "Liver"), as returned by
            /api/colo_index - not a specific cell line/subclass. A
            subclass value (e.g. "K-562") is not in the index and
            returns 404.
          schema:
            type: string
          example: Blood
      responses:
        "200":
          description: Colocalization result data, sorted descending by average score
          content:
            application/json:
              schema:
                type: object
                properties:
                  columns:
                    type: array
                    items:
                      type: string
                    description: >-
                      Column headers, in file order: Experiment, Cell_subclass,
                      Protein, the query track's average score
                      ("<track>|Average"), one column per reference
                      experiment (SRX id | cell type), then the STRING
                      interaction score.
                  rows:
                    type: array
                    items:
                      type: array
                      items: {}
                    description: >-
                      One array per candidate partner experiment, aligned
                      with `columns`; the first three elements
                      (Experiment/Cell_subclass/Protein) are strings, the
                      rest are numeric scores.
                  total:
                    type: integer
                    description: Total rows in the result (there is no paging).
                  genome:
                    type: string
                  track:
                    type: string
                  cell_type:
                    type: string
              example:
                columns: ["Experiment", "Cell_subclass", "Protein", "STAT3|Average", "SRX018626|Blood", "STRING"]
                rows:
                  - ["SRX018626", "Blood", "STAT3", 9.5, 10, 950]
                total: 3862
                genome: hg38
                track: STAT3
                cell_type: Blood
        "400":
          description: >-
            Missing genome/track/cell_type, or genome is not a
            recognised assembly.
        "404":
          description: No pre-computed colocalization data for this combination
        "502":
          description: >-
            Colocalization data exists upstream but could not be parsed as
            a valid Colocalization TSV - distinct from 404 (no data) so a
            client can tell the two apart.

  /api/colo/download:
    get:
      operationId: downloadColocalization
      tags: [Analysis]
      summary: Download colocalization result file
      description: >-
        Streams a pre-computed colocalization result file (TSV table or GML
        network) for a given genome, track, and cell type.
      parameters:
        - $ref: "#/components/parameters/Genome"
        - name: track
          in: query
          required: true
          description: Track / antigen name (e.g. "CTCF")
          schema:
            type: string
          example: CTCF
        - name: cell_type
          in: query
          required: true
          description: >-
            Cell type **class** (e.g. "Blood", "Liver"), as returned by
            /api/colo_index - not a specific cell line/subclass.
          schema:
            type: string
          example: Blood
        - name: format
          in: query
          required: true
          description: Output file format
          schema:
            type: string
            enum:
              - tsv
              - gml
          example: tsv
      responses:
        "200":
          description: Colocalization result file
          content:
            text/tab-separated-values:
              schema:
                type: string
            application/xml:
              schema:
                type: string
        "400":
          description: >-
            Missing genome/track/cell_type/format, unknown format, or
            genome is not a recognised assembly.
        "404":
          description: No pre-computed colocalization data for this combination

  /api/target_genes:
    get:
      operationId: getTargetGenesData
      tags: [Analysis]
      summary: Get target genes result data
      description: >-
        Parses the pre-computed target gene result TSV (there is no JSON
        file on the data backend for this analysis) for a given genome,
        track, and distance, and returns one sorted, paginated page of it.
        Column headers are returned separately from the row data so the
        (large, ~130+ column) matrix isn't repeated per row. The parsed
        result is cached server-side per (genome, track, distance) for a
        short TTL, so repeated page/sort requests for the same combination
        don't re-fetch the ~4 MB source file. Check /api/target_genes_index
        first to verify the combination has data.
      parameters:
        - $ref: "#/components/parameters/Genome"
        - name: track
          in: query
          required: true
          description: Track / antigen name (e.g. "CTCF")
          schema:
            type: string
          example: CTCF
        - name: distance
          in: query
          required: true
          description: >-
            Distance from TSS in kb. Use /api/target_genes_distances for
            valid values.
          schema:
            type: string
            enum:
              - "1"
              - "5"
              - "10"
          example: "5"
        - name: sort
          in: query
          required: false
          description: >-
            Column header to sort by (must be one of the names in the
            response's `columns`). Defaults to the "<track>|Average"
            column, e.g. "CTCF|Average".
          schema:
            type: string
          example: CTCF|Average
        - name: order
          in: query
          required: false
          description: Sort direction. Defaults to "desc".
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: offset
          in: query
          required: false
          description: Number of rows to skip. Defaults to 0.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          description: >-
            Number of rows to return. Defaults to 50, capped at 500
            server-side regardless of the requested value.
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: q
          in: query
          required: false
          description: >-
            Case-insensitive substring filter against the gene name column
            (`Target_genes`, column 0) only - matching this API's other
            free-text search surfaces (`/api/search` and the track/cell-type
            autocompletes), which are also substring, not prefix-only.
            Applied before sorting and paging, so `total`, `offset`, and
            `limit` all describe the *filtered* set - paging walks the
            matches, not the full unfiltered file. Omitted, empty, or
            whitespace-only behaves exactly as if `q` were not given at all
            (no filtering). There is no "malformed" query to reject - any
            string is a well-defined substring pattern - so an over-long
            value is silently truncated to 200 characters rather than
            causing a 400; a blank result after truncation still just means
            "no filter".
          schema:
            type: string
          example: myc
      responses:
        "200":
          description: One filtered (if `q` given), sorted, paginated page of target gene result data
          content:
            application/json:
              schema:
                type: object
                properties:
                  columns:
                    type: array
                    items:
                      type: string
                    description: >-
                      Column headers, in file order: gene symbol, the query
                      track's average score, one column per experiment
                      (SRX id | cell type), then the STRING interaction
                      score.
                  rows:
                    type: array
                    items:
                      type: array
                      items: {}
                    description: >-
                      One array per gene, aligned with `columns`; the first
                      element is the gene symbol (string), the rest are
                      numeric scores.
                  total:
                    type: integer
                    description: >-
                      Total gene rows matching `q` (or all rows, if `q` is
                      absent) for this combination - before paging, after
                      filtering.
                  offset:
                    type: integer
                  limit:
                    type: integer
              example:
                columns: ["Target_genes", "CTCF|Average", "SRX018626|K-562", "STRING"]
                rows:
                  - ["MYC", 950.2, 1021.5, 900]
                total: 13459
                offset: 0
                limit: 50
        "400":
          description: >-
            Missing genome/track/distance, genome is not a recognised
            assembly, distance is not one of the valid options, or
            `sort` names a column not present in this file
        "404":
          description: No pre-computed target gene data for this combination
        "502":
          description: >-
            Target gene data exists upstream but could not be parsed as a
            valid Target Genes TSV - distinct from 404 (no data) so a
            client can tell the two apart.

  /api/target_genes/download:
    get:
      operationId: downloadTargetGenes
      tags: [Analysis]
      summary: Download target genes result file
      description: Streams a pre-computed target gene result file (TSV).
      parameters:
        - $ref: "#/components/parameters/Genome"
        - name: track
          in: query
          required: true
          description: Track / antigen name (e.g. "CTCF")
          schema:
            type: string
          example: CTCF
        - name: distance
          in: query
          required: true
          description: Distance from TSS in kb
          schema:
            type: string
            enum:
              - "1"
              - "5"
              - "10"
          example: "5"
        - name: format
          in: query
          required: true
          description: Output file format
          schema:
            type: string
            enum:
              - tsv
          example: tsv
      responses:
        "200":
          description: Target gene result file (TSV)
          content:
            text/tab-separated-values:
              schema:
                type: string
        "400":
          description: >-
            Missing genome/track/distance/format, genome is not a
            recognised assembly, or distance is not one of the valid
            options.
        "404":
          description: No pre-computed target gene data for this combination

  # ── Jobs ────────────────────────────────────────────────────────────

  /status:
    get:
      operationId: getServiceStatus
      tags: [Jobs]
      summary: Check service availability
      description: >-
        Returns the availability status of the data server and compute
        backends (WABI, WES), plus per-feature availability derived from
        them. Check this before submitting jobs or generating URLs.
      responses:
        "200":
          description: Service status object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceStatus"
              example:
                services:
                  data_server: ok
                  wabi: ok
                  wes: not_checked
                features:
                  peak_browser: ok
                  colo: ok
                  target_genes: ok
                  search: ok
                  enrichment_analysis: ok
                  diff_analysis: ok

  /jobs/available:
    get:
      operationId: checkJobAvailability
      tags: [Jobs]
      summary: Check if a compute backend is available for a job type
      description: >-
        Returns whether the compute backend for a given analysis type is
        currently available.
      parameters:
        - name: type
          in: query
          required: false
          description: Analysis type to check. Defaults to enrichment_analysis.
          schema:
            type: string
            enum:
              - enrichment_analysis
              - diff_analysis
            default: enrichment_analysis
          example: enrichment_analysis
      responses:
        "200":
          description: Availability status
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  backend:
                    type: string
                    description: Name of the compute backend

  /jobs/submit:
    post:
      operationId: submitJob
      tags: [Jobs]
      summary: Submit an analysis job
      description: >-
        Submits an enrichment analysis or differential analysis job to the
        available compute backend. Check /jobs/available first to confirm
        the backend is up.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobSubmission"
      responses:
        "200":
          description: Job submission result with job ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  backend:
                    type: string
                    description: Compute backend handling the job
                  job_id:
                    type: string
                    description: Job identifier for status polling
              example:
                backend: wabi
                job_id: wabi_chipatlas_2026-0922-1049-51-290-755138
        "400":
          description: >-
            Malformed or non-object JSON body (`{"error": "Invalid
            JSON"}` / `{"error": "JSON body must be an object"}`), or -
            for type=diff_analysis only - params.antigenClass is not
            "diffbind" or "dmr" (`{"error": "...", "retry": false}`).
        "503":
          description: >-
            No compute backend serves this job type right now (either none
            is configured to, or the one that is is unreachable). Body is
            `{"error": "No compute backend available", "retry": false}`.
        "502":
          description: >-
            A compute backend was reached but rejected the submission (its
            response could not be parsed into a job ID) - distinct from 503
            so a client, or whoever is debugging, can tell "nothing was
            listening" apart from "something answered and said no". Body is
            `{"error": "Compute backend rejected the submission", "retry": false}`.

  /jobs/{id}/status:
    get:
      operationId: getJobStatus
      tags: [Jobs]
      summary: Check job status
      description: Returns the current status of a submitted job.
      parameters:
        - name: id
          in: path
          required: true
          description: Job identifier
          schema:
            type: string
        - name: backend
          in: query
          required: true
          description: Compute backend handling the job (wabi or wes)
          schema:
            type: string
            enum: [wabi, wes]
          example: wabi
      responses:
        "200":
          description: Job status object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatus"
              example:
                backend: wabi
                job_id: wabi_chipatlas_2026-0922-1049-51-290-755138
                status: finished
                retry: true
        "400":
          description: >-
            Invalid job id, or backend is missing/not one of wabi, wes.
            Body is `{"error": "Invalid job ID"}` or
            `{"error": "Invalid backend"}`.
        "503":
          description: >-
            The requested backend is not currently reachable. Body is
            `{"backend": ..., "job_id": ..., "status":
            "backend_unavailable", "retry": false}`.

  /jobs/{id}/result:
    get:
      operationId: getJobResult
      tags: [Jobs]
      summary: Get job result URLs
      description: >-
        Builds result URLs from the job id and backend alone - there is
        no existence or completion check, so this always returns 200
        (even for an unknown or still-running job id). Check
        /jobs/{id}/status first and only follow the URLs once the job
        has reached a terminal status.
      parameters:
        - name: id
          in: path
          required: true
          description: Job identifier
          schema:
            type: string
        - name: backend
          in: query
          required: true
          description: Compute backend handling the job (wabi or wes)
          schema:
            type: string
            enum: [wabi, wes]
          example: wabi
        - name: type
          in: query
          required: false
          description: >-
            Analysis type, which determines the result URL shape.
            Defaults to enrichment_analysis.
          schema:
            type: string
            enum:
              - enrichment_analysis
              - diff_analysis
            default: enrichment_analysis
          example: enrichment_analysis
      responses:
        "200":
          description: Result URLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  backend:
                    type: string
                  job_id:
                    type: string
                  urls:
                    type: object
                    description: >-
                      `{html, tsv}` for enrichment_analysis (or wes);
                      `{zip}` for diff_analysis.
                    properties:
                      html:
                        type: string
                        format: uri
                      tsv:
                        type: string
                        format: uri
                      zip:
                        type: string
                        format: uri
              example:
                backend: wabi
                job_id: bogus
                urls:
                  html: "https://dtn1.ddbj.nig.ac.jp/wabi/chipatlas/bogus?info=result&format=html"
                  tsv: "https://dtn1.ddbj.nig.ac.jp/wabi/chipatlas/bogus?info=result&format=tsv"
        "400":
          description: >-
            Invalid job id, backend is missing/not one of wabi, wes, or
            type is not one of enrichment_analysis, diff_analysis.

  /jobs/{id}/log:
    get:
      operationId: getJobLog
      tags: [Jobs]
      summary: Get job execution log
      description: Returns the execution log for a job, as plain text.
      parameters:
        - name: id
          in: path
          required: true
          description: Job identifier
          schema:
            type: string
        - name: backend
          in: query
          required: true
          description: Compute backend handling the job (wabi or wes)
          schema:
            type: string
            enum: [wabi, wes]
          example: wabi
      responses:
        "200":
          description: Job execution log
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: >-
            Invalid job id, or backend is missing/not one of wabi, wes.
            Body is `{"error": "Invalid job ID"}` or
            `{"error": "Invalid backend"}`.
        "404":
          description: >-
            Log not available yet. Body is
            `{"error": "Log not available yet"}`.
        "503":
          description: >-
            The requested backend is not currently reachable. Body is
            `{"error": "Backend unavailable", "retry": false}`.

  /jobs/estimated_time:
    post:
      operationId: getEstimatedTime
      tags: [Jobs]
      summary: Estimate differential analysis runtime
      description: >-
        Estimates runtime, in minutes, for a differential analysis job
        from its total read count, using a fitted regression specific to
        analysis. Used by the Diff Analysis UI to show an estimate before
        submission; independent of /jobs/submit - no job is created and
        no id is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                analysis:
                  type: string
                  description: >-
                    Differential analysis type. Any other value (or an
                    absent field) makes the estimate null.
                  enum: [dmr, diffbind]
                ids:
                  type: array
                  items:
                    type: string
                  description: >-
                    Experiment accession IDs (SRX/GSM) whose total read
                    count feeds the estimate. An absent or empty array is
                    treated as 0 reads.
              example:
                analysis: dmr
                ids: ["SRX018625", "SRX018626"]
      responses:
        "200":
          description: Estimated runtime
          content:
            application/json:
              schema:
                type: object
                properties:
                  minutes:
                    type:
                      - integer
                      - "null"
                    description: >-
                      Estimated minutes, or null when analysis is not one
                      of dmr/diffbind, or when analysis is dmr and the
                      total read count is 0 (dmr's formula is logarithmic
                      and undefined at 0 reads). diffbind's formula is
                      linear and never returns null, even at 0 reads.
              example:
                minutes: 9
        "400":
          description: >-
            Malformed, non-object, or absent JSON body. Body is
            `{"error": "Invalid JSON"}`, `{"error": "JSON body must be
            an object"}`, or `{"error": "No JSON body"}`.

  # ── Internal ────────────────────────────────────────────────────────
  # Used by the web UI itself, not designed for external agents - listed
  # here only so the spec doesn't silently omit real, reachable routes
  # (see the drift-guard test, test/routes/openapi_test.rb).

  /health:
    get:
      operationId: getHealth
      tags: [Internal]
      summary: Internal health check
      x-internal: true
      description: >-
        Liveness check for load balancers and deployment scripts - not
        part of the public agent-facing surface (see /status for that,
        which covers external service reachability instead). 200 when
        the database is reachable, 503 otherwise.
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [ok]
                      experiments:
                        type: string
                        enum: [ok, empty]
                        description: >-
                          "empty" means the experiments table has zero
                          rows - reported for visibility only; it does not
                          affect the 200/503 status.
              example:
                status: ok
                checks:
                  database: ok
                  experiments: ok
        "503":
          description: The database is unreachable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [error]
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [error]
                      database_error:
                        type: string
                        description: The rescued exception's message.
              example:
                status: error
                checks:
                  database: error
                  database_error: "..."

  /api/remote_url_status:
    get:
      operationId: getRemoteUrlStatus
      tags: [Internal]
      summary: Check an upstream URL's HTTP status (internal helper)
      x-internal: true
      description: >-
        Used by the experiment page to probe whether a data-backend image
        (a distribution/correlation PNG) exists before showing it, via a
        HEAD request. Not a general-purpose URL checker: url must be on
        an allowlisted host (chip-atlas.dbcls.jp, dtn1.ddbj.nig.ac.jp, or
        a subdomain of either) or the request is rejected with 400.
        Agents should not rely on this endpoint.
      parameters:
        - name: url
          in: query
          required: true
          description: Absolute http(s) URL on an allowlisted host to probe.
          schema:
            type: string
          example: https://chip-atlas.dbcls.jp/data/metadata/experimentList.tab
      responses:
        "200":
          description: >-
            Always 200, even when the probe itself fails - the plain-text
            body carries the outcome instead: the upstream response's own
            HTTP status code (e.g. "200", "404"), or "500" if the probe
            raised (timeout, connection refused, TLS error, etc). Only a
            genuine upstream response is cached (Cache-Control: public,
            max-age=3600); a synthetic "500" is not.
          content:
            text/plain:
              schema:
                type: string
              example: "200"
        "400":
          description: >-
            url is missing, or not on an allowlisted host. Body is the
            plain text "Invalid or disallowed URL".
